<div class='container-fluid'>
    <footer class="border-top py-5">
    <div class="row d-flex justify-content-between">
      <div class="col-6 col-md-3 mb-3">
        <h5>Nos coordonnées</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Horaires d'ouverture</a></li>
          
          <li class="nav-item mb-2">dim. : Fermé</li>
        </ul>
      </div>

      

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Contactez-nous</h5>
          <p>En savoir plus sur nos annonces ou nos services</p>
          <div class="d-flex flex-column flex-sm-col w-100 gap-2">
            <label for="contactName" class="visually-hidden">Name</label>
            <input id="contactName" type="text" class="form-control" placeholder="Nom">
            <label for="contactSurname" class="visually-hidden">Surname</label>
            <input id="contactSurname" type="text" class="form-control" placeholder="Prénom">
            <label for="contactMail" class="visually-hidden">Email address</label>
            <input id="contactMail" type="email" class="form-control" placeholder="Adresse email">
            <label for="contactTel" class="visually-hidden">Telephone</label>
            <input id="contactTel" type="telephone" class="form-control" placeholder="Téléphone">
            <label for="newsletter1" class="visually-hidden">Message</label>
            <textarea id="message" rows="3" class="form-control" placeholder="Ecrivez votre message ici ..."></textarea>
            <button class="btn btn-primary" type="button">Envoyer</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Garage V. Parrot, SAS Tous droits réservés.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</div>